body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}
form {
  margin: 20px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}
input, textarea, button {
  margin: 5px;
  padding: 8px;
}
.post {
  background: white;
  border: 1px solid #ccc;
  margin: 10px auto;
  width: 400px;
  padding: 10px;
  border-radius: 8px;
}
.reply {
  background: #eaeaea;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
}
